@include media-breakpoint-up(xs) {}
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {}


@include media-breakpoint-down(xs) {

}

@include media-breakpoint-down(sm) {

}
@include media-breakpoint-down(md) {}
@include media-breakpoint-down(lg) {}
@include media-breakpoint-down(xl) {
  .display-4 {
    font-size: 35px;
  }
}

@include media-breakpoint-only(xs) {
  .display-4 {
    font-size: 25px;
  }
}
@include media-breakpoint-only(sm) {
     .display-4 {
    font-size: 27px;
  }
}

@include media-breakpoint-only(md) {
 .display-4 {
    font-size: 30px;
  }
}
@include media-breakpoint-only(lg) {
     .display-4 {
    font-size: 33px;
  } 
}
@include media-breakpoint-only(xl) {}
