$my-blue: #254f56;
$my-green: #aae018;
$my-orange: rgb(240, 94, 12);
$my-white: #fff7f2;
$header: rgba(31, 30, 44, 0.92);
$my-jumbotron: #0d0e26;
$my-fonts: #ff3f00;
$my-body: #212831;
$orange: #f09f17;
$my-cards: #070b24;
$my-footer: rgb(22, 5, 34);
$my-nav: #294f5d;
$light-white: #cccfd14d;
$light-blue: #00c5b4;
$my-footer: #efefef;
$solarized-dark: #313131;


/*TRANSITION*/
$t-out: all .3s ease-in-out;